screen=1024
network=local
is_server=1
my_IP=0
server_IP=0
client_IP=0
mode=single
offset=1
button_width_1=100
button_width_2=200
button_width_3=300
button_width_4=400
ppi=269
text_size=20

[screen:0/?]
[network:local/wifi]
[mode:single/dual]
[offset:0-1]


