screen=1536
resize=false
network=local
my_IP=0
server_IP=0
client_IP=0
mode=single
offset=1
button_width_1=100
button_width_2=200
button_width_3=300
button_width_4=400
ppi=269
text_size=21
number_of_samples_per_trial=5
number_of_trials_per_condition=4
condition1=finger
condition2=mouse-touch
condition3=mouse-click

[screen:0/?]
[net:local/wifi]
[mode:single/server/client]
[offset:0-1]
[sample_size=:15]


